    h1{
      font-family: cursive;
      color: black;
      font-size: 30pt; 
    }
    h3{
      font-family: cursive;
      color: blue;
      font-size: 25pt;
    }
    h4{
      font-family: cursive;
      color: green;
      font-size: 22pt;
    }
    p{
      font-family: normal;
      color: purple;
      font-size: 15pt;
    }
    ul{
      font-family: normal;
      color: maroon;
      font-size: 15pt;
    }
